div.polaroid {
    aspect-ratio: 5.25/6.35;
    resize: horizontal;
    background-color: white;
    width: 2.36in;
    max-width: 2.36in;
    filter: drop-shadow(0px 0px 10px rgb(45, 45, 45));
    margin: 50px;
    position: fixed;
}

img {
    background-color: black;
    background-size: cover;
    background-position: center;
    min-height: 2.02in;
    max-height: 2.02in;
    max-width: 187px;
    min-width: 187px;
    margin: auto;
    pointer-events: none;
    margin-top: 20px;
}